<!DOCTYPE html>
<html>
<head>
    <title>CAIRE - Select Columns</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h1>Select Columns</h1>
    <form method="post">
        <label for="title_column">Project Title Column:</label>
        <select name="title_column">
            {% for column in columns %}
            <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="description_column">Project Description Column:</label>
        <select name="description_column">
            {% for column in columns %}
            <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html>
